AddDefaultCharset utf-8

AddHandler wsgi-script .py

#WSGIDaemonProcess tryonce python-path=/var/www/mysite:/var/www/environ/lib/python2.7/site-packages
#WSGIProcessGroup mysite
#WSGIScriptAlias / /var/www/tryonce/public_html/wsgi.py
#WSGIApplicationGroup %{GLOBAL}

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /var/www/tryonce/public_html/wsgi.py/$1 [QSA,L]

